<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <style>
    .namespace {
      margin-top: 10px;
    }
    .namespace select, .namespace option {
      width: 150px;
      height: 40px;
      font-size: 20px;
    }
    /* 表格内溢出不隐藏*/
    .layui-table-cell {
        height: inherit;
    }
  </style>
</head>

<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header layui-bg-cyan">
    <div class="layui-logo layui-hide-xs layui-bg-cyan"><a style="color: white" href="/">k8s-dashboard</a></div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->

    <ul class="layui-nav layui-layout-left">
        <div class="namespace">
            <select name="namespace" id="nsSelect">
            </select>
        </div>
    </ul>

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="/logout">
          <img src="/static/img/img_17.png" class="layui-nav-img">
          退出
        </a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-cyan">
    <div class="layui-side-scroll layui-bg-cyan">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="test">
        <li class="layui-nav-item">
            <a class="" href="/"><i class="layui-icon layui-icon-console">&nbsp;&nbsp;仪表盘</i></a>
        </li>

        <li class="layui-nav-item {% block kubernetes %}{% endblock %}">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-template-1">&nbsp;&nbsp;Kubernetes</i></a>
          <dl class="layui-nav-child">
            <dd><a href="{% url 'node' %}" class="{% block kubernetes-node %}{% endblock %}">Node</a></dd>
            <dd><a href="{% url 'namespace' %}" class="{% block kubernetes-namespace %}{% endblock %}">Namespace</a></dd>
            <dd><a href="{% url 'pv' %}" class="{% block kubernetes-pv %}{% endblock %}">PersistentVolume</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item {% block workload %}{% endblock %}">
          <a href="javascript:;"><i class="layui-icon layui-icon-template-1">&nbsp;&nbsp;Workload</i></a>
          <dl class="layui-nav-child">
            <dd><a href="{% url 'deployment' %}" class="{% block workload-deployment %}{% endblock %}">Deployment</a></dd>
            <dd><a href="{% url 'daemonset' %}" class="{% block workload-daemonset %}{% endblock %}">Daemonset</a></dd>
          </dl>
        </li>
      </ul>

    </div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">{% block context %}{% endblock %}</div>
  </div>

  <div class="layui-footer" style="text-align: center">
    <!-- 底部固定区域 -->
    k8s-dashboard-底部固定区域
  </div>
</div>

<script src="/static/layui/layui.js"></script>

{% block custom_js %}{% endblock %}
<script>
//JS
layui.use(['layer'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,$ = layui.jquery;

  $.ajax({
      type: "GET",
      async: false, // 设置同步
      timeout: 3000,
      url: "{% url 'namespace_api' %}",
      success: function (res) {
          if(res.code == 0){
              for(let index in res.data) {
                  row = res.data[index];
                  $('#nsSelect').append('<option value=' + row.name + '>' + row.name + '</option>')
              }
          } else {
              layer.open({
                  type: 0,
                  title: ['命名空间查询失败'],
                  content: '<span style="color:red;font-size: 18px">' + res.msg + '</span>'
              })
          }
      },
      error: function () {
          layer.open({
              type: 0,
              title: ['异常信息'],
              content: "获取命名空间列表失败！请检查K8s集群地址或者服务器！"
          })
      }
  });
  // 将当前选择的命名空间保存到本地浏览器session存储，以便其他页面能获取到当前选择的命名空间
  var storage = window.sessionStorage;  // 键值存储

  namespace = storage.getItem('namespace');
  if (namespace == null) {
       storage.setItem('namespace', "default"); // 打开浏览器登录后台后，session里没有值设置一个默认值为default
  } else {
      $("#nsSelect").val(namespace);  // 不为空，说明已经存储，将select选中为存储的值
  }

  $("#nsSelect").change(function () {
      var current_ns = $("#nsSelect").val(); // 获取选择的值
      storage.setItem('namespace', current_ns); // 添加数据
      //layer.msg("切换命名空间: " + current_ns, {icon: 6})
      location.reload() // 刷新页面，重新根据命名空间AJAX
  })

});
</script>
</body>
</html>